<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://kit.fontawesome.com/701e2416eb.js" crossorigin="anonymous"></script>
    <title>ToDo List</title>
</head>
<body>
    <div class="todolist">
        <div class="heading">
            <h2>To-<span>Do</span> List</h2>
        </div>
        <div class="inputs-buttons">
            <form action="/add_todo" method="post">
                <div class="description">
                    <input type="text" placeholder="What do you need to do?" name="description">
                </div>
                <div class="category">
                    <select name="category" id="category" aria-placeholder="Choose a category">
                        <option disabled selected hidden>Choose a Category</option>
                        <option value="Personal">Personal</option>
                        <option value="School">School</option>
                        <option value="Work">Work</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="date">
                    <label for="date">Due Date</label>
                    <input type="date" name="date" id="date">
                </div>
                <div class="add_button">
                    <button type="submit">Add ToDo</button>
                </div>
            </form>
            <a href="/delete_all">
                <div class="deleteAll_button">
                    <button type="submit">Delete</button>
                </div>
            </a>
        </div>
        <div class="list">
            <ul>
                <% for(let i of todolist) { %>
                <li>
                    <input type="checkbox" id="<%= i._id %>" name="iscomplete">
                    <div class="info">
                        <div id="text">
                            <label for="<%= i._id %>" name="description"><%= i.desc%></label> 
                        </div>
                        <div class="date">
                            <i class="fa-solid fa-calendar-days"></i><span id="date" name="date">&nbsp;&nbsp;<%= i.date %></span>
                        </div>
                    </div>
                    <div id="category">
                        <p name="category"><%= i.category %></p>
                    </div>
                    <div>
                        <a href="/delete?id=<%= i._id %>"><i class="fa-solid fa-circle-xmark cross"></i></a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>